[user]
	email = coding@laurensdc.com
	name = Laurens DC
[pull]
	rebase = false
[push]
	default = current
[core]
	editor = nvim
[init]
	defaultBranch = main
[url "https://github.com/"]
	insteadOf = git://github.com/
[rerere]
	enabled = true
[rebase]
	updateRefs = true

[maintenance]
	repo = /Users/laurens/code/alice
