[user]
	email = coding@laurensdc.com
	name = Laurens
[pull]
	rebase = false
[push]
	default = current
[core]
	editor = nvim
[init]
	defaultBranch = main
[url "https://github.com/"]
	insteadOf = git://github.com/
[safe]
	directory = /Applications/XAMPP/xamppfiles/htdocs
[gpg]
	format = ssh
[commit]
	gpgsign = true
