[user]
	email = laurens.decock@inthepocket.com
	name = Laurens
	signingkey = /Users/laurens/.ssh/id_ed25519.pub
[pull]
	rebase = false
[push]
	default = current
[core]
	editor = nvim
[init]
	defaultBranch = main
[url "https://github.com/"]
	insteadOf = git://github.com/
[safe]
	directory = /Applications/XAMPP/xamppfiles/htdocs
